#wrapper {
  width: 500px;
  margin: 0 auto; }

#blocks {
  list-style-type: none;
  padding: 0; }
  #blocks .block_controls {
    position: absolute;
    margin-left: -90px;
    list-style-type: none;
    padding: 0;
    text-align: center; }
    #blocks .block_controls li {
      padding-right: 10px;
      display: inline; }
      #blocks .block_controls li a {
        text-decoration: none;
        font-size: 1.4em;
        font-weight: bold; }
  #blocks .block {
    padding-bottom: 20px; }
  #blocks .image_block {
    text-align: center; }
    #blocks .image_block .description {
      font-style: italic;
      color: #777777; }
  #blocks .file_block .file {
    font-size: 1.6em;
    padding-bottom: 5px; }
  #blocks .file_block .description {
    font-style: italic;
    color: #777777; }
  #blocks .contact_block .title {
    font-weight: bold;
    font-size: 1.3em; }

textarea, input[type=text], label {
  width: 100%;
  display: block;
  font-family: sans-serif; }
